<br class="d-md-block">
<br class="d-md-block">
<div class="row justify-content-center">
  <div class="my-auto">
    <div class="card-group mb-0">
      <div class="card shadow-sm border-0">
        <div class="col-md-9 align-self-center">
          <div class="card-body">
          <div class="d-flex flex-column">
            <br>
            <h5 class="text-secondary text-center">Join now and contribute</h5>
            <hr class="custom-horizontal">

            <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
              <%= form_group_tag(resource.errors[:username]) do %>
                <div class="field">
                  <%= f.text_field :username.downcase, class: 'form-control session-form', placeholder: 'username' %>
                  <% resource.errors.full_messages_for(:username).each do |message| %>
                    <small class="help-block text-danger"><%= message %></small>
                  <% end %>
                </div>
              <% end %>

              <%= form_group_tag(resource.errors[:email]) do %>
                <div class="field">
                  <%= f.text_field :email.downcase, class: 'form-control session-form', placeholder: 'email', autocomplete: "email" %>
                  <% resource.errors.full_messages_for(:email).each do |message| %>
                    <small class="help-block text-danger"><%= message %></small>
                  <% end %>
                </div>
              <% end %>

              <%= form_group_tag(resource.errors[:password]) do %>
                <div class="field">
                  <small class="text-secondary">
                    <% if @minimum_password_length %>
                      <%= @minimum_password_length %> characters minimum
                    <% end %><br />
                  </small>
                  <div class="input-group">
                    <%= f.password_field :password, autocomplete: "new-password",
                                       class: 'form-control password-format-input session-form', placeholder: 'password', id: 'password-format' %>
                    <button class="input-group-text toggle-password-btn bg-white" type="button" id="toggle-password-btn">
                      <i class="bi bi-eye-slash-fill" aria-hidden="true"></i>
                    </button>
                  </div>
                  <% resource.errors.full_messages_for(:password).each do |message| %>
                    <small class="help-block text-danger"><%= message %></small>
                  <% end %>
                </div>
              <% end %>

              <%= form_group_tag(resource.errors[:password_confirmation]) do %>
                <div class="field">
                  <div class="input-group">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                       class: 'form-control password-format-input session-form', placeholder: 'confirm password', id: 'password-format-conf' %>
                    <button class="input-group-text toggle-password-btn bg-white" type="button" id="toggle-password-btn-conf">
                      <i class="bi bi-eye-slash-fill" aria-hidden="true"></i>
                    </button>
                  </div>
                  <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                    <small class="help-block text-danger"><%= message %></small>
                  <% end %>
                </div>
              <% end %>

              <div class="form-group">
                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-primary btn-block font-weight-bold" %>
                </div>
              </div>
            <% end %>

            <hr class="custom-horizontal">

            <div class="signup-section">
              <p class="text-dark text-center">Already a member?
                <%= link_to 'Sign In', new_session_path(resource_name) %>.
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function togglePassword(btn, box) {
        document.getElementById(btn).addEventListener('click', function () {
            let passwordBox = document.getElementById(box);
            if(passwordBox.getAttribute('type') === 'text') {
                this.children[0].remove();
                passwordBox.setAttribute('type', 'password');
                let element = document.createElement('i');
                element.className = 'bi bi-eye-slash-fill';
                this.appendChild(element);
            }
            else if (passwordBox.getAttribute('type') === 'password') {
                this.children[0].remove();
                passwordBox.setAttribute('type', 'text');
                let element = document.createElement('i');
                element.className = 'bi bi-eye-fill';
                this.appendChild(element);
            }
        })
    }
    togglePassword('toggle-password-btn', 'password-format');
    togglePassword('toggle-password-btn-conf', 'password-format-conf');
</script>
