<% mod_count = 0 %>
<% sign_count = 0 %>
<% other_count = 0 %>
<% comp_count = 2 %>
<% @entries.each do | entry | %>

  <% unless user_signed_in? %>
    <% if  sign_count == 0 %>
      <div class="text-gray small text-center" style="padding-bottom: 1em;">
        <%= link_to "Create", new_registration_path(resource_name), class: "text-yellow" %> account
        or
        <%= link_to "Log In", new_session_path(resource_name), class: "text-yellow" %>
        to contribute now.
      </div>
    <% end %>
    <% sign_count = sign_count + 1 %>
  <% end %>

  <% if comp_count == 0 %>
    <div class="text-gray small text-center" style="padding-bottom: 1em;">
      <%= link_to "Who's winning CASH?", competition_path, class: "text-yellow" %>
    </div>
  <% end %>
  <% comp_count = comp_count + 1 %>

  <%= render 'entries/entry', entry: entry %>

  <% if (user_signed_in? and not current_user.moderator?) or not user_signed_in? %>
    <% if mod_count % 20 == 0 %>
      <div class="text-secondary small text-center" style="padding-top: 1em; padding-bottom: 1em;">
        Become a <%= link_to "moderator", help_path, class: "text-yellow" %> now! |
        Check <%= link_to "this", about_path, class: "text-yellow" %> 🚀🌕
      </div>
    <% else %>
      <br>
    <% end %>
    <% mod_count = mod_count + 1 %>
  <% elsif other_count % 20 == 0 %>
    <div class="text-secondary small text-center" style="padding-top: 1em; padding-bottom: 1em;">
      Check <%= link_to "this", about_path, class: "text-yellow" %> 🚀🌕
    </div>
    <% other_count = other_count + 1 %>
  <% else %>
    <br>
  <% end %>

<% end %>