<!--suppress ALL -->
<% if defined? entry %>
  <% @entry = entry %>
<% end %>

<span id="save-container-<%= @entry.id %>">
  <% unless user_signed_in? %>
    <%=  render 'entries/save_entry', entry: @entry %>
  <% else %>
    <% if current_user.voted_up_on? @entry, :vote_scope => 'saved' %>
      <%= render 'entries/unsave_entry', entry: @entry %>
    <% else current_user.voted_up_on? @entry, :vote_scope => 'saved' %>
      <%=  render 'entries/save_entry', entry: @entry %>
    <% end %>
  <% end %>
</span>

<script>
    // if user not signed in, redirect to login page
    function goToSignIn() {
        if (<%= not user_signed_in? %>) {
            window.location.pathname = "<%= new_user_session_path %>"
        }
    }
</script>