<!--suppress CheckTagEmptyBody -->
<div class="col p-0" style="margin-bottom: 0.5em;" id="report-column-<%= report.id %>">
  <span class="text-gray">
    <%= link_to '@' + get_user(report.user_id).username,
                profile_path(get_user(report.user_id)), class: 'text-decoration-none text-secondary', style: "font-size: 0.9em;" %>
    <%= is_moderator(get_user(report.user_id)) %>
    <span style="font-size: 0.77em;"><%= report.content %></span>
    <span class="text-secondary" style="font-size: 0.77em;">&nbsp;•&nbsp;<%= get_time(report.created_at) %></span>

    <% if user_signed_in? and current_user.moderator? %>
      <!-- Delete report trigger modal -->
      <i type="button" class="bi bi-trash btn-sm m-0 remove-webkit bg-transparent text-decoration-none p-1"
         style="color: #ababab; margin-left: 0.5em !important;" data-bs-toggle="modal" data-bs-target="#delete-report-<%= report.id %>"></i>

      <!-- Modal -->
      <div class="modal fade" id="delete-report-<%= report.id %>" tabindex="-1" role="dialog"
           aria-labelledby="deleteAccountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="deleteTranslationModal">Delete translation</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="close-report-modal-<%= report.id %>">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-secondary small">
                The report starting with
                <strong class="text-danger"><%= report.content.chars.first(10).join %></strong>
                will be permanently removed.
              </p>

              <div class="text-secondary small font-weight-bold">Only proceed when:</div>
              <ul>
                <li class="text-secondary small">The complaint is resolved</li>
                <li class="text-secondary small">The translation is acceptable</li>
                <li class="text-secondary small">Other valid reasons</li>
                <li class="text-secondary small">Go against any of our other <%= link_to "content guidelines", guidelines_path %></li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary font-weight-bold" data-bs-dismiss="modal">Cancel</button>

              <% unless defined? @entry %>
                <%  @entry = entry  %>
              <% end %>

              <%= button_to "Confirm", entry_report_path(@entry, report),
                            class: "btn btn-danger font-weight-bold",
                            method: :delete,
                            onclick: "removeReported(#{@entry.id}, #{@entry.reports_count}, #{report.id})" %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </span>
</div>

<script>

    // Remove translation when verified
    var erc = 0
    var which
    function removeReported(id, entry_reports_count, r_id) {
        position_toast(id)
        document.getElementById('close-report-modal-' + r_id).click()

        if (erc !== 0) {
            which = erc
        } else {
            which = Number(entry_reports_count)
        }

        if (which > 1) {
            removeFadeOut(document.getElementById('report-column-' + r_id), 200);
            erc = which - 1
        } else {
            removeFadeOut(document.getElementById('report-block-' + id), 200);
            removeFadeOut(document.getElementById('br-' + id), 200);

            var count = document.getElementById('total-report-count')
            count.innerText = Number(count.innerText) - 1
        }

        $('.toast-body-report-' + id).html('Report Removed.')
        $('.toast-report-' + id).toast('show')
    }

    // Position toast according to screen size
    function position_toast(id) {
        var ts = $('#toast-report-' + id)
        if ($(window).width() < 992) {
            ts.removeClass().addClass("position-fixed bottom-0 translate-middle-x start-50 p-3");
            ts.css({'z-index' : '5', 'margin-bottom' : '3em'})
        }
        else {
            ts.removeClass().addClass("position-fixed top-0 end-0 p-3");
            ts.css({'z-index' : '5'})
        }
    }

    function removeFadeOut( element, speed ) {
        var seconds = speed/1000;
        element.style.transition = "opacity " + seconds + "s ease";

        element.style.opacity = 0;
        setTimeout(function() {
            element.parentNode.removeChild(element);
        }, speed);
    }
</script>
