<!--suppress ALL -->
<br class="d-md-block">
<br class="d-md-block">

<div class="row justify-content-center">
  <div class="my-auto">
    <div class="card-group mb-0">
      <div class="card shadow-sm border-0">
        <div class="col-md-9 align-self-center">
          <div class="card-body">
            <div class="d-flex flex-column text-center">
              <br>
              <h5 class="text-secondary text-center">Sign in and contribute</h5>
              <hr class="custom-horizontal">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <div class="field">
                    <%= f.text_field :login, class: 'form-control session-form', placeholder: 'username or email'%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="field">
                    <div class="input-group">
                      <%= f.password_field :password, autocomplete: "current-password",
                                           class: 'form-control session-form password-format-input', type: 'password', id: 'password-format', placeholder: 'password'%>
                      <button class="input-group-text toggle-password-btn bg-white" type="button" id="toggle-password-btn">
                        <i class="bi bi-eye-slash-fill" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-row">
                    <div class="col" style="padding-left: 0.7em;">
                      <% if devise_mapping.rememberable? %>
                        <%= f.check_box :remember_me, class: 'form-check-input', type: 'checkbox' %>
                        <%= f.label :remember_me, class: 'text-dark' %>
                      <% end %>
                    </div>

                    <div class="col">
                      <%= link_to 'Forgot password?', new_password_path(resource_name), class: 'form-control-text' %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="actions">
                    <%= f.submit "Sign in", class: "btn btn-primary btn-block font-weight-bold" %>
                  </div>
                </div>
              <% end %>

              <hr class="custom-horizontal">

              <div class="signup-section">
                <p class="text-dark">Not a member yet?
                  <%= link_to 'Join Now', new_registration_path(resource_name) %>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword(btn, box) {
      document.getElementById(btn).addEventListener('click', function () {
          let passwordBox = document.getElementById(box);
          if(passwordBox.getAttribute('type') === 'text') {
              this.children[0].remove();
              passwordBox.setAttribute('type', 'password');
              let element = document.createElement('i');
              element.className = 'bi bi-eye-slash-fill';
              this.appendChild(element);
          }
          else if (passwordBox.getAttribute('type') === 'password') {
              this.children[0].remove();
              passwordBox.setAttribute('type', 'text');
              let element = document.createElement('i');
              element.className = 'bi bi-eye-fill';
              this.appendChild(element);
          }
      })
  }
  togglePassword('toggle-password-btn', 'password-format');
</script>